body{
    background-color: green;
}
h1{
    color: lightblue;
    background-color: yellowgreen;
}
#show_sketch{
    float: right;
}
canvas{
   border-radius: 20px;
   border: 5px solid white;
   animation-name: sketch;
   animation-duration: 4s;
   animation-iteration-count: infinite; 
}
@keyframes sketch{
from{
    box-shadow: 1px 1px 38px grey;
}
to{
    box-shadow: 1px 1px 38px white;
}
}
p{
    margin-top: 10px;
    font-size: 25px;
}